<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.first}} - {{.last}}</li>
    {{end}}
</ul>
</body>
</html>